<h1>Sample App Home!</h1>
<p>This is a sample static page.</p>
<p>And here is a sample video:</p>
<div id="wistia_wogyyxgk0n" class="wistia_embed" style="width:640px;height:388px;">&nbsp;</div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
<script>
wistiaEmbed = Wistia.embed("wogyyxgk0n");
</script>
